<app-topo></app-topo>
<div *ngIf="jogoEmAndamento; else fimDeJogo ">
    <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>
<ng-template #fimDeJogo>
    <div *ngIf="tipoEncerramento === 'derrota'; else fimDeJogoVitoria" class="container" style="margin-top: 50px;">
        <div class="col">
            <div class="row">
                <h3 style="color: red;">Fim de jogo. Infelizmente voce perdeu.</h3>
                <button class="btn btn-primary" (click)="reiniciarJogo()">Jogar novamente</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #fimDeJogoVitoria>
    <div class="container" style="margin-top: 50px;">
        <div class="col">
            <div class="row">
                <h3 style="color: green;">Fim de jogo. Voce ganhou.</h3>
                <button class="btn btn-primary" (click)="reiniciarJogo()">Jogar novamente</button>
            </div>
        </div>
    </div>
</ng-template>